:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-lightest: #d0fdf4;
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
}
